<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=`, initial-scale=1.0" />
    <title>Task Manager ADMIN</title>
  </head>
  <body>
    <header></header>
    <main>
      <div class="box" id="heading">
        <h1>Add new employee</h1>
        <h2><%= listEmployeeTitle %></h2>
      </div>
      <div class="box employee">
        <% for(let employee of listEmployees){%>
        <div class="employee">
          <form action="/delete-employee" method="post">
            <input
              type="checkbox"
              onchange="this.form.submit()"
              name="deleteEmployeeId"
              value="<%= employee.id %>"
            />
          </form>
          <p id="nameEmployee<%= employee.id %>"><%= employee.name %></p>

          <form class="edit-employee" action="/edit-employee" method="post">
            <input
              type="hidden"
              name="updatedIdEmployee"
              value="<%= employee.id %>"
            />
            <input
              id="inputEmployee<%= employee.id %>"
              type="text"
              name="updatedEmployeeName"
              value="<%= employee.name %>"
              autocomplete="off"
              autofocus="true"
              hidden="true"
            />
            <button
              id="doneEmployee<%= employee.id %>"
              class="edit"
              type="submit"
              hidden
            >
              <img src="" alt="tick image" />
            </button>
          </form>
          <button
            id="editEmployee<%= employee.id %>"
            class="edit"
            onclick="
            handler('employee','<%employee.id%>')"
          >
            <img class="icon" src="" alt="pencil-image" />
          </button>
        </div>

        <% } %>

        <form class="employee" action="/add-employee" method="post">
          <input
            type="text"
            name="newEmployee"
            placeholder="New Employee"
            autocomplete="off"
            autofocus="true"
          />
          <button
            class="addEmployee"
            type="submit"
            name="listEmployee"
            value="<%= listEmployeeTitle %>"
          >
            +
          </button>
        </form>
      </div>

      <div class="box task">
        <% for (let task of listTasks){%>

        <div class="task">
          <form action="/delete-task" method="post">
            <input
              type="checkbox"
              onchange="this.form.submit()"
              name="deleteTaskId"
              value="<%= task.id %>"
            />
          </form>

          <p id="titleTask<%= task.id %>"><%= task.title %></p>

          <form class="editTask" action="/edit-task" method="post">
            <input type="hidden" name="updatedTaskId" value="<%= task.id %>" />
            <input
              id="inputTask<%= task.id %>"
              type="text"
              name="updatedTaskTitle"
              value="<%= task.title %>"
              autocomplete="off"
              autofocus="true"
              hidden="true"
            />
            <button
              id="doneTask<%= task.id %>"
              class="done"
              type="submit"
              hidden
            >
              <img src="" alt="tick-image" />
            </button>
          </form>
          <button
            id="editTask<%=task.id%>"
            class="edit"
            onclick="handler('task','<%=task.id%>')"
          >
            <img src="" alt="pencil-image" />
          </button>
        </div>
        <%} %>

        <form class="task" action="/add-task" method="post">
          <input
            type="text"
            name="newTask"
            placeholder="New Task"
            autocomplete="off"
            autofocus="true"
          />
          <button
            class="add"
            type="submit"
            name="taskList"
            value="<%= listEmployeeTitle %>"
          >
            +
          </button>
        </form>
      </div>
    </main>
    <footer>
      Copyright &copy <%= new Date().getFullYear() %>. All rights reserved.
    </footer>

    <script>
      function handler(type, id) {
        if (type === "employee") {
          // Hide the employee's name and edit button
          document
            .getElementById("nameEmployee" + id)
            .setAttribute("hidden", true);
          document
            .getElementById("editEmployee" + id)
            .setAttribute("hidden", true);
          // Show the input field and the done button
          document
            .getElementById("doneEmployee" + id)
            .removeAttribute("hidden");
          document
            .getElementById("inputEmployee" + id)
            .removeAttribute("hidden");
        } else if (type === "task") {
          // Hide the task title and edit button
          document
            .getElementById("titleTask" + id)
            .setAttribute("hidden", true);
          document.getElementById("editTask" + id).setAttribute("hidden", true);
          // Show the input field and the done button

          document.getElementById("doneTask" + id).removeAttribute("hidden");
          document.getElementById("inputTask" + id).removeAttribute("hidden");
        }
      }
    </script>
  </body>
</html>
